.dashbord{
	width: 100%;
    display: inline-block;
    background-color: #34495E;
    color: #fff;
    margin-top: 5%;
    padding-top: 30px;
    height: 80%;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 3px;
}
.icon-section i{
	
}
.icon-section p{
	margin:0px;
	font-size: 20px;
	padding-bottom: 10px;
}